/* COLORS */
$main-color: #ff6060;
$neutral-dark-color: #000;
$neutral-medium-color: #f6f6f6;
$neutral-light-color: #fff;

/* BORDER RADIUS */
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 25px;

/* FONT SIZE */
$text-xs: 0.75rem;
$font-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
