@import "../../styles/style.scss";

.error-container {
  @include flex-container($direction: column, $justify: center, $align: center);
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 7rem;

  @include md-screen {
    padding: 2rem;
  }
  @include lg-screen {
    padding: 5rem;
    gap: 5rem;
  }
  .title {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    color: $main-color;
    @include xl-screen {
      font-size: 12rem;
    }
  }
  .subtitle {
    display: block;
    font-size: $text-base;
    color: $main-color;
    @include xl-screen {
      font-size: $text-2xl;
    }
  }
  .link {
    text-decoration: underline;
  }
}
